#mapid {
  height: 650px;
  width: 100%;
  display: inline-block;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.sequence-control-container {
    width: 350px;
    height:73px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    font-size: 13px;
    font-family: "Georgia";
}

.range-slider {
    width: 250px;
}

.step {
    width: 40px;
}

.step img {
   width: 100%;
   height: auto;
}


#forward {
    float: right;
}

#backward {
    float: left;
}


.attribute-control-container {
    width: 300px;
    height: 120px;
    background-color: rgba(255,255,255,0.4);
    padding: 10px;
    line-height: 25px;
    text-align: center;
    border: solid gray 1px;
    font-size: 12px;
    font-family: "Georgia";
}

.legend-control-container{
  width: 300px;
  height: 20px;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  line-height: 25px;
  text-align: center;
  border: solid gray 1px;
  font-size: 12px;
  font-family: "Georgia";
}

.title-container{
  width: 300px;
  height: 60px;
  background-color: rgba(255,178,100,0.6);
  padding: 10px;
  line-height: 10px;
  text-align: center;
  border: solid gray 2px;
  font-size: 15px;
  font-family: "Georgia";
}
